Data type and structures questions

In [ ]:
# Question 1. What are data structures, and why are they important?

  -> '''Data structures are specialized formats for organizing, storing, and accessing collections of data. They are important because they provide efficient ways to manage information based on its characteristics and intended use and conserves memory usage.'''

In [ ]:
# Question 2. Explain the difference between mutable and immutable data types with examples.

  -> '''Mutable data types are the type of data types which can be changed and modified after written. ex: Lists.
        while immutable data types are the data type which cannot be changed after written. ex: strings and tuples.'''

In [ ]:
# Question 3. What are the main differences between lists and tuples in Python?

  -> '''Lists are Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types (numbers, strings, even other lists!).
        Where tuples are Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.'''

In [ ]:
# Question 4. Describe how dictionaries store data.

  -> '''Dictionaries stores data values in key:value pairs. A dictionary is a collection which is unordered, changeable and do not allow duplicates.'''

In [ ]:
# Question 5. Why might you use a set instead of a list in Python?

  ->'''This reference object is called the “key,” while the data is the “value.” Dictionaries and sets are almost identical, except that sets do not actually contain values: a set is simply a collection of unique keys.
       As the name implies, sets are very useful for doing set operations.'''

In [ ]:
# Question 6. What is a string in Python, and how is it different from a list?

  ->'''Strings are the characters arranged in an unchangeable order. Consider writing a sentence, a paragraph, or a piece of material.
       While strings and lists are differ because lists are unordered and mutable, strings are ordered and immutable.'''

In [ ]:
# Question 7. How do tuples ensure data integrity in Python?

->'''As tules are immutable which ensures that the data written in tuple remains safe alongs its life line. Which ensures the data integrity in python.'''

In [ ]:
# Question 8. What is a hash table, and how does it relate to dictionaries in Python?

  ->'''A hash table is a data structure that uses a hash function to compute an index, or hash code, for each key-value pair. Python dictionaries are implemented using hash tables and the open addressing collision resolution method. The keys of a Python dictionary are generated by a hashing function.'''

In [ ]:
# Question 9. Can lists contain different data types in Python?

  ->'''Yes, lists can contain different data types in python.'''

In [ ]:
# Question 10. Explain why strings are immutable in Python.

  ->'''Strings in Python are “immutable” which means they can not be changed after they are created. Some other immutable data types are integers, float, boolean, etc.

The immutability of Python string is very useful as it helps in hashing, performance optimization, safety, ease of use, etc.'''

In [ ]:
# Question 11. What advantages do dictionaries offer over lists for certain tasks?

  ->'''The advantages dictionary contains over list are:
       Unordered collections: Elements are not stored in a specific order.
       Unique key-value pairs: Each key acts as a unique identifier for retrieving an associated value.
       Flexible data: Keys and values can be of various data types (strings, numbers, lists, and even other dictionaries).
       Operations (Basic):
       Add: Use direct assignment (dictionary_name[key] = value) or .update() method.
       Access: Retrieve values using their keys (value = dictionary_name[key]).
       Remove: Use del dictionary_name[key], .pop(key), or .popitem().
       Check membership: Use the in operator (key in dictionary_name).'''

In [ ]:
# Question 12. Describe a scenario where using a tuple would be preferable over a list.

  ->'''List is like a shopping bag where we can add or remove any operation as we want like data which is not that important and
       meant to be changed like just like a shopping list, But tuples stores the data which is immutable, thus we can store impo-
       -rtant data in tuples which is related to work, company or bussinesetc.

In [ ]:
# Question 13. How do sets handle duplicate values in Python?

  ->'''Items of a set in python are immutable (unchangeable), do not duplicate values, and unordered.
       Thus, items in a set do not appear in a stipulated manner.'''

In [ ]:
# Question 14. How does the “in” keyword work differently for lists and dictionaries?

  ->'''The 'in' operator for dictionaries ( dict ) checks for the presence of a key. while the  'in' keyword can be
       used to test whether certain characters are present in a string or a certain value present in a list.'''

In [ ]:
# Question 15. Can you modify the elements of a tuple? Explain why or why not.
  ->'''No, you cannot modify the elements of a tuple in Python. This is because tuples are immutable data structures. Once a tuple is created, its contents are fixed and cannot be altered.
       This characteristic ensures data integrity, preventing accidental changes to the tuple's data.'''

In [ ]:
# Question 16. What is a nested dictionary, and give an example of its use case?

  ->'''A nested dictionary is simply a dictionary within another dictionary. Think of it like having boxes inside of boxes. The outer dictionary holds inner dictionaries as values, which themselves can hold more dictionaries or other data types.'''
       ex: students = { "Alice": {"grades": [90, 85, 92], "attendance": 95},
        "Bob": {"grades": [78, 82, 88], "attendance": 80}

In [ ]:
# Question 17.  Describe the time complexity of accessing elements in a dictionary.
  -> '''This refers to how the time taken by an operation (in this case, accessing an element) grows as the size of the input (the dictionary) increases'''

In [ ]:
# Question 18. In what situations are lists preferred over dictionaries.

  ->'''List is preffered when there is need of Ordered, mutable sequences of items and which can be access elements by their position (index).'''

In [ ]:
# Question 19. Why are dictionaries considered unordered, and how does that affect data retrieval?

  ->'''Dictionaries are considered unordered because elements are not stored in a specific order. With Each key acts as a unique identifier for retrieving an associated value.'''

In [ ]:
# Question 20. Explain the difference between a list and a dictionary in terms of data retrieval.

  ->'''In list Data Retrieval by Index: Lists store elements in a sequential, ordered manner. You retrieve data from a list using its index,
       which is the numerical position of the element within the list. In dictionary Data Retrieval by Key: Dictionaries store data as key-
       value pairs. You retrieve a value by using its corresponding key.'''

Practical Questions

In [3]:
# Question 1. Write a code to create a string with your name and print it.

name = "somil"
print(name)

somil

In [4]:
# Question 2. Write a code to find the length of the string "Hello World".

a = ("Hello World")
len(a)

11

In [6]:
# Question 3. Write a code to slice the first 3 characters from the string "Python Programming".

a = ("Python Programming")
a[0:3]

'Pyt'

In [10]:
# Question 4. Write a code to convert the string "hello" to uppercase.

a = ("hello")
a.upper()

'HELLO'

In [11]:
# Question 5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

a = ("I like alpple")
a.replace("apple","orange")

'I like alpple'

In [12]:
# Question 6. Write a code to create a list with numbers 1 to 5 and print it.

list_n = [1, 2, 3, 4, 5]
print(list_n)

[1, 2, 3, 4, 5]

In [13]:
# Question 7. Write a code to append the number 10 to the list [1, 2, 3, 4].

my_list = [1, 2, 3, 4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

In [14]:
# Question 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

my_list = [1, 2, 3, 4, 5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

In [15]:
# Question 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

my_list = ['a', 'b', 'c', 'd']
second_element = my_list[1]
print(second_element)

b

In [17]:
# Question 10.  Write a code to reverse the list [10, 20, 30, 40, 50].

my_list = [10, 20, 30, 40, 50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

In [18]:
# Question 11. Write a code to create a tuple with the elements 10, 20, 30 and print it.

my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [20]:
# Question 12.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

tuple_xy = ('apple', 'banana', 'cherry')
tuple_xy[0]

'apple'

In [23]:
# Question 13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

a_tuple = (1,2,3,2,4,2)
a_tuple.count(2)

3

In [24]:
# Question 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

a_tuple = ('dog', 'cat', 'rabbit')
a_tuple.index('cat')

1

In [25]:
# Question 15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

a_tuple = ('apple', 'orange', 'banana')
"banana" in a_tuple

True

In [26]:
# Question 16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print.

our_set = {1,2,3,4,5}
print(our_set)

{1, 2, 3, 4, 5}

In [29]:
# Question 17. Write a code to add the element 6 to the set {1, 2, 3, 4}.

b_set = {1, 2, 3,4}
b_set.add(6)
print(b_set)

{1, 2, 3, 4, 6}

In [32]:
# Question 18.  Write a code to create a tuple with the elements 10, 20, 30 and print it.

on_tuple = (10, 20, 30)
print(on_tuple)

(10, 20, 30)

In [33]:
# Question 19.  Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

on_tuple = ('apple', 'banana', 'cherry')
on_tuple[0]

'apple'

In [34]:
# Question 20.  Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

my_tuple = (1,2,3,2,4,2)
my_tuple.count(2)

3

In [35]:
# Question 21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

a_tuple = ('dog', 'cat', 'rabbit')
a_tuple.index('cat')

1

In [36]:
# Question 22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

a_tuple = ('apple', 'orange', 'banana')
"banana" in a_tuple

True

In [37]:
# Question 23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

In [39]:
# Question 24.  Write a code to add the element 6 to the set {1, 2, 3, 4}

our_set = {1.2,3,4}
our_set.add(6)
print(our_set)

{1.2, 3, 4, 6}